<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RootServlet</servlet-name>
        <servlet-class>servlet.RootServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutRnServlet</servlet-name>
        <servlet-class>servlet.AjoutRnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToModifRnServlet</servlet-name>
        <servlet-class>servlet.ToModifRnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifRnServlet</servlet-name>
        <servlet-class>servlet.ModifRnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToDetailServlet</servlet-name>
        <servlet-class>servlet.ToDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToTraitementServlet</servlet-name>
        <servlet-class>servlet.ToTraitementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementServlet</servlet-name>
        <servlet-class>servlet.TraitementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootServlet</servlet-name>
        <url-pattern>/RootServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutRnServlet</servlet-name>
        <url-pattern>/AjoutRnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToModifRnServlet</servlet-name>
        <url-pattern>/ToModifRnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifRnServlet</servlet-name>
        <url-pattern>/ModifRnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToDetailServlet</servlet-name>
        <url-pattern>/ToDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToTraitementServlet</servlet-name>
        <url-pattern>/ToTraitementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementServlet</servlet-name>
        <url-pattern>/TraitementServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
